  body::-webkit-scrollbar {
    width: 0.75rem;
  }
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #0066FF;
  }
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #CDCDCD ;
    border: 1px solid rgba(165, 165, 165, 0.596);
  }
  body::-webkit-scrollbar-thumb:active{
   background-color: #0066FF;
  }

  table{width:100%;margin:20px auto;border-radius:10px!important;font-size:0.95rem;overflow:hidden}
  table th{background-color:#09204C;color:#fff;padding:10px;border-right:1px solid rgba(255,255,255,.25);}
  table th:last-child,  table tr td:last-child{border-right:0}
  table tr:nth-child(2n+1) td{border-bottom:1px solid rgba(0,0,0,.05);border-right:1px solid rgba(0,0,0,.05);border-left:1px solid rgba(0,0,0,.05)}
  table td{padding:10px 15px;vertical-align:middle;}
  table tr:nth-child(2n) td{border-bottom:1px solid rgba(0,0,0,.05);background-color:rgba(0,0,0,.05);border-right:1px solid rgba(0,0,0,.06)!important}